.heading-section {
  width: 100%;
  height: 100vh;
}

.navbar {
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.container {
  padding: 1rem 0;
  align-items: center;
}

.navbar-logo {
  width: 15%;
}

.logo-box {
  width: 100%;
}

.navbar-text {
  font-size: 1.5rem;
  color: #3d3d3d;
  margin-right: 2rem;
  transition: all 1s;
}

.navbar-text:hover {
  color: #000;
  transform: translateY(-5%);
}

.navbar-text-login {
  font-size: 1.5rem;
  color: #3d3d3d;
  padding: 1.2rem 0;
  margin-right: 2rem;
  transition: all 1s;
}

.navbar-text-login:hover {
  color: #000;
  transform: translateY(-5%);
}


.navbar-text-signup,
.navbar-text-signup:link,
.navbar-text-signup:visited {
  font-size: 1.5rem;
  color: #fff !important;
  font-weight: 300;
  padding: 1.2rem 0;
  width: 13rem;
  text-align: center;
  background-color: #40196d;
  border-radius: 5px;
  transition: all 1s;
}

.navbar-text-signup:hover,
.navbar-text-signup:active {
  color: #fff;
  background-color: #2b1049;
  transform: translateY(-5%);
}

.hero-box {
  width: 100%;
}

.box {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.box-1-of-2 {
  flex-basis: 45%;
}

.heading-main {
  font-size: 5rem;
  margin-top: 20rem;
  color: #40196d;
  font-weight: 500;
  margin-bottom: 3rem;
}

.heading-sub {
  font-size: 2rem;
  color: #f675a8;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.heading-long-copy {
  font-size: 1.5rem;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 5rem;
}

.heading-sub-box {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 1s;
}

.heading-sub-box:hover {
  transform: translateY(-5%);
}

.heading-sub-items {
  width: 100%;
  display: flex;
  align-items: center;
}

.heading-sub-items i {
  font-size: 3rem;
  color: #fff;
  padding: 1rem;
  background-color: #f675a8;
  border-radius: 5px;
  margin-right: 1rem;
}

.heading-sub-items h2 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  letter-spacing: 1px;
}

.heading-icon-box i {
  font-size: 2rem;
  color: #000;
}

.heading-sub-box-2 {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  box-shadow: unset;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.heading-sub-items-2 {
  width: 100%;
  display: flex;
  align-items: center;
}

.heading-sub-items-2 i {
  font-size: 3rem;
  color: #fff;
  padding: 1rem;
  background-color: #40196d;
  border-radius: 5px;
  margin-right: 1rem;
}

.heading-sub-items-2 h2 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  letter-spacing: 1px;
}

.heading-icon-box-2 i {
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

.hero-image {
  width: 100%;
  height: 80vh;
  background-color: #e5f4f6;
  display: flex;
  align-items: flex-end;
  margin-top: 13rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.hero-image-con {
  width: 90%;
  margin: 0 auto;
}

.section {
  width: 100%;
  padding: 8rem 0;
}

.box-con {
  max-width: 114rem;
  margin: 0 auto;
}

.heading-secondary {
  font-size: 3.5rem;
  color: #40196d;
  font-weight: 700;
  margin-bottom: 1rem;
}

.heading-secondary-sub {
  font-size: 1.5rem;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 5rem;
}

.box-feature {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box-1-of-3 {
  flex-basis: 32%;
}

.feature-box {
  width: 100%;
  height: 15rem;
  background-color: #e5f4f6;
  padding: 3rem 0;
  margin-bottom: 7rem;
}

.feature-image {
  width: 50%;
  margin: 0 auto;
}

.feature-text h3 {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 5px;
}

.feature-text i {
  margin-right: 1rem;
}

.feature-text p {
  font-size: 1.5rem;
  color: #000;
  letter-spacing: 1px;
}

.box-works {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box-1-of-2-w {
  flex-basis: 45%;
}

.how-it-works-image {
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #e5f4f6;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.how-it-works-image-con {
  width: 70%;
}

.how-it-works-box-con {
  max-width: 50rem;
}

.how-it-works-box {
  width: 100%;
  display: flex;
  margin-bottom: 5rem;
}

.box-1-of-3-h {
  flex-basis: 10%;
}

.box-2-of-3-h {
  flex-basis: 90%;
}

.how-it-works-box h1 {
  font-size: 4rem;
  color: #f675a8;
  font-weight: 300;
  display: inline-block;
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  border: 2px solid #f675a8;
  border-radius: 50%;
  text-align: center;
  margin-right: 2rem;
}

.how-it-works-box h3 {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 5px;
}

.how-it-works-box p {
  font-size: 1.5rem;
  color: #000;
  letter-spacing: 1px;
}

.box-pricing {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box-1-of-3-pricing {
  flex-basis: 32%;
  padding: 4rem 2rem;
  border-radius: 1rem;
  border: 1px solid #ebebeb;
}

.box-1-of-3-pricing i {
  font-size: 3rem;
  color: #f675a8;
  margin-bottom: 1rem;
}

.box-1-of-3-pricing h2 {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}

.box-1-of-3-pricing p {
  font-size: 1.5rem;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.box-1-of-3-pricing h1 {
  font-size: 4rem;
  color: #000;
  font-weight: 300;
  margin-bottom: 2rem;
}

.box-1-of-3-pricing span {
  font-size: 1.5rem;
  color: #000;
  letter-spacing: 1px;
}

.box-1-of-3-pricing button {
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
  padding: 1.5rem;
  background-color: #40196d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 3rem;
  transition: all 1s;
}

.box-1-of-3-pricing button:hover {
  background-color: #2b1049;
  transform: translateY(-10%);
}

.box-1-of-3-pricing ul {
  list-style: none;
}

.box-1-of-3-pricing ul li {
  font-size: 1.5rem;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.box-1-of-3-pricing ul li i {
  font-size: 1.5rem;
  color: #f675a8;
  margin-right: 1rem;
}

.footer {
  width: 100%;
  padding: 8rem 0;
  background-color: #40196d;
}

.footer-box {
  max-width: 134rem;
  margin: 0 auto;
}

.logo-footer-box {
  width: 4%;
  margin-bottom: 2rem;
}

.box-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box-1-of-4-footer {
  flex-basis: 25%;
}

.box-1-of-4-footer h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.box-1-of-4-footer .long-copy {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}

.box-1-of-4-footer .copyright {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
}

.box-1-of-4-footer h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.box-1-of-4-footer ul {
  list-style: none;
}

.box-1-of-4-footer ul li {
  margin-bottom: 1rem;
}

.box-1-of-4-footer ul li a {
  font-size: 1.5rem;
  color: #b7b7b7;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 1s;
}

.box-1-of-4-footer ul li a:hover {
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .navigation-bar-box {
    max-width: 124rem;
  }
  .footer-box {
    max-width: 124rem;
  }
}

@media only screen and (max-width: 1024px) {
  .navigation-bar-box {
    padding: 0 2rem;
  }
  .footer-box {
    padding: 0 2rem;
  }
  .box {
    padding: 0 5rem;
  }
  .box-con {
    padding: 0 5rem;
  }
  .how-it-works-box-con {
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-logo {
    width: 30%;
  }
  .navbar-toggle {
    font-size: 2rem;
  }
  .navbar-collapse {
    height: 100vh;
    padding: 0 2rem;
    margin-top: 3rem;
    transition: all .5s ease;
  }
  .navbar-text {
    padding: 1rem 0;
    border-bottom: 1px solid #b7b7b7;
    margin-right: 0;
    margin-bottom: 4rem;
  }
  .navbar-text-login {
    border-bottom: 1px solid #b7b7b7;
    margin-right: 0;
    margin-bottom: 4rem;
  }
  .navbar-text-signup:link,
  .navbar-text-signup:visited {
    padding: 1.5rem 0;
    width: 100%;
  }
  .navigation-bar ul {
    display: none;
  }
  .heading-section {
    height: unset;
  }
  .box {
    flex-direction: column;
  }
  .heading-main {
    margin-top: 15rem;
  }
  .hero-image {
    display: none;
  }
  .section {
    padding: 4rem 0;
  }
  .footer {
    padding: 4rem 0;
  }
  .box {
    padding: 0 2rem;
  }
  .box-con {
    padding: 0 2rem;
  }
  .how-it-works-box-con {
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 1rem 2rem;
  }
  .navbar-logo {
    width: 45%;
  }
  .navbar-toggle {
    font-size: 2rem;
  }
  .navbar-collapse {
    padding: 0;
  }
  .heading-main {
    margin-top: 13rem;
  }
  .box-feature {
    flex-direction: column;
  }
  .box-1-of-3 {
    margin-bottom: 3rem;
  }
  .box-1-of-3:last-child {
    margin-bottom: 0;
  }
  .heading-secondary-sub {
    margin-bottom: 3rem;
  }
  .box-works {
    padding: 0 2rem;
    flex-direction: column-reverse;
  }
  .how-it-works-image {
    border-radius: 0;
  }
  .how-it-works-image-con {
    width: 100%;
  }
  .box-pricing {
    flex-direction: column;
  }
  .box-1-of-3-pricing {
    margin-bottom: 2rem;
  }
  .logo-footer-box {
    width: 10%;
  }
  .box-footer {
    flex-direction: column-reverse;
  }
  .box-1-of-4-footer {
    margin-bottom: 2rem;
  }
}
