* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

html {
  font-size: 62.50%;
}

body {
  font-family: 'Roboto';
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 62.50%;
  }
}